{%extends 'admin_layout.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Administration</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="?p=home">Acceuil</a>
                </li>
                {% if hide_admin == false %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" onclick="changement();" href="?p=admin">Administration</a>
                    </li>
                {% endif %}
                {% if hide_mod == false %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#list_posts">Liste des posts</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#unvalid_comments">Commentaires à valider</a>
                    </li>
                {% endif %}
                {% if session.userlvl == 1 %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#new_post">Nouveau post</a>
                    </li>
                {% endif %} 
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" onclick="changement();" href="?p=home&d=disconnect">Se deconnecter</a>
                </li>  
                <p class="font-light font-weight-light text-light bg-secondary rounded">{{ session.Nickname }}</p>
            </ul>
        </div>
    </nav>
{% endblock %}