{%extends 'layout.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Blog de Mathieu</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="theme/img/profile.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#cv">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" onclick="changement();" href="http://klaynetv-online.fr/?p=blog&d=list">Blog</a>
                </li>
                {% if session.Userlvl is defined %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" onclick="changement();" href="http://klaynetv-online.fr/?p=home&d=disconnect">Se deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://klaynetv-online.fr/?p=home#login">Se connecter</a>
                    </li>    
                {% endif %}
                {% if session.Userlvl <= 2 and session.Userlvl is defined %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://klaynetv-online.fr/?p=admin" onclick="changement();" >Administration</a>
                    </li>
                {% endif %}
                {% if session.Userlvl is defined %}
                    <p class="font-light font-weight-light text-light bg-secondary rounded">{{ session.Nickname }}</p>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}